* {
	padding: 0;
	margin: 0;
	/* box-sizing: border-box; */
}

/* variables for colors */
:root {
	--primary-color: rgb(216, 177, 151);
	--text-color: #727171;
}

/* html {
	font-size: 10px;
} */

nav ul {
	display: flex;
	font-size: 18px;
	padding: 30px 0px;
	justify-content: space-evenly;
	list-style: none;
	background-color: rgb(112, 76, 31);
}

body {
	font-family: Inter, sans-serif;
	background-color: black;
	color: white;
	font-size: 10px;
	text-align: center;
}

/* enlaces */
a {
	text-decoration: none;
	color: white;
}

.description {
	padding-top: 35px;
	font-size: 20px;
	color: var(--text-color);
}

/* titulos y subtitulos*/
.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 65px;
}


.item_preTitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_title {
	font-size: 1.6rem;
	color: white;
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}
/* titulos y subtitulos */






/* para que este ordenado */


.container {
	/* max-width: 950px; */
	width: 70%;
	margin: auto;
	/* display: grid; */
	padding: 65px;
	background: #070707;
	/* grid-template-columns: 1fr 1fr; */
	/* gap: 4rem; */
}
/* para que este ordenado */




/* donde dice tu nombre y todo */
/* .profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
} */
/* lo de arriba pues */




/* grupo 1 2 y 3 para cada cosa  */
/* .group-1,
.group-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
} */
.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
/* gruposssss */




/* perfil */

#profile_name {
	color: var(--primary-color);
	font-weight: 600;
	font-size: 60px;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.profile_title {
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
}
.downloadBtn {
	display: block;
	text-decoration: underline;
	font-size: 1.6rem;
	margin-top: 1rem;
}
.downloadBtn:hover {
	color: var(--primary-color);
}






/* todo lo tuyo */
#skills_container {
	display: flex;
}
.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}


/* eduction */
.edu_item {
	margin-top: 2rem;
}



/* socials */
.social_items {
	margin-top: 2rem;
}
.social_item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
.social_item:hover {
	color: var(--primary-color);
}
.social_item svg {
	width: 2rem;
}

hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}
